@page "/deck"
@inject HttpClient Http

<PageTitle>Deck</PageTitle>

<h1>Deck</h1>

<UseGetDecks Context="result">
    <ChildContent>
        <ul>
            <li>Name: @result.Deck.Name</li>
            <li>Wins: @result.Deck.Wins</li>
            <li>Losses: @result.Deck.Losses</li>
        </ul>
    </ChildContent>
    <ErrorContent>
        Something went wrong ...<br />
        @result.First().Message
    </ErrorContent>
    <LoadingContent>
        Loading ...
    </LoadingContent>
</UseGetDecks>